body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--text-main);
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", system-ui, sans-serif;
  background: #000000; /* PURE BLACK */
  overflow: hidden;
}
/* MOBILE FIXES */
@media screen and (max-width: 600px) {
    .logo { width: 140px; }
    h1 { font-size: 45px; }
    .tagline { font-size: 18px; }
    .address { font-size: 12px; }
    .white-rabbit-link img { width: 55px; }
}
